@import '@standardnotes/stylekit/dist/stylekit.css';

:root {
  --sn-stylekit-font-size-editor: 16px;
  --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
  'Ubuntu Mono', courier, monospace;
}

body,
html {
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-font-size-editor);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nienow-editor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nienow-editor__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--sn-stylekit-border-color);

  button {
    color: var(--sn-stylekit-secondary-foreground-color);
    background-color: var(--sn-stylekit-secondary-background-color);
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  //div {
  //  padding: 5px 10px;
  //}
}

.nienow-editor__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.nienow-editor__box {
  display: flex;
  flex-direction: column;
  width: 100%;

  textarea {
    flex: 1 1 auto;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.4;
    resize: none;
    color: var(--sn-stylekit-foreground-color);
  }

  input {
    border: none;
    background-color: var(--sn-stylekit-secondary-background-color);
    outline: none;
    color: var(--sn-stylekit-foreground-color);
    line-height: 1.4;
    padding: 10px;
  }
}

.nienow-editor__row {
  border-bottom: 1px solid var(--sn-stylekit-border-color);
  display: flex;
  flex: 1 0 auto;
}

.nienow-editor__column {
  border-right: 1px solid var(--sn-stylekit-border-color);
  display: flex;
  flex: 1 0 auto;
}

.test-controls {
  border: 1px solid var(--sn-stylekit-border-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 3px 5px;

  div {
    padding: 0 10px;
  }

  button:first-child {
    border-right: 1px solid var(--sn-stylekit-border-color);
  }

  button:last-child {
    border-left: 1px solid var(--sn-stylekit-border-color);
  }
}
